/*div{
    border: 10px solid black;
    background: white;
    padding:2em;
    margin: 2em auto 0 ;
    max-width:10em;
    font:100%/1.5 sans-serif;
}*/

.boxshadow{
   margin: 2em auto 0 ;
   width: 100px;
   height: 60px;
   background: yellowgreen;
   border-radius: 5px;
   	box-shadow: 0 0 0 10px #655,
            0 0 0 15px deeppink,
            0 2px 5px 15px rgba(0,0,0,.6);
}

.outline{
    width: 100px;
    height: 60px;
    background: yellowgreen;
    border: 10px solid #655;
    outline: 5px solid deeppink;
}