

@mixin transition($transition){
    -webkit-transition:$transition;
    -moz-transition:$transition;
    -ms-transition:$transition;
    -o-transition:$transition;
    transition:$transition;
}

@mixin transform-origin($transform-origin){
    -webkit-transform-origin:$transform-origin;
    -moz-transform-origin:$transform-origin;
    -ms-transform-origin:$transform-origin;
    -o-transform-origin:$transform-origin;
    transform-origin:$transform-origin;
}

@mixin opacity($opacity){
    -webkit-opacity:$opacity;
    -moz-opacity:$opacity;
    -ms-opacity:$opacity;
    -o-opacity:$opacity;
    opacity:$opacity;
}

@mixin scale($scale){
    -webkit-transition:scale($scale);
    -moz-transition:scale($scale);
    -ms-transition:scale($scale);
    -o-transition:scale($scale);
    transition:scale($scale);
}